<%- model_class = Message -%>
<h1>What's happening ?</h1>
<br/>

<%= render :partial => 'form' %>

<% @messages.each do |message| %>
  <%= render :partial => "message", :locals => {:message => message} %>
<% end %>
