// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message {
  padding: 10px 0px;
  border-bottom: 1px solid #EEE;
}